/* CSS Reset */

* {
  margin: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Common Styles */
.text-center {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rokkitt, serif, system-ui;
}

body {
  font-family: Inter, Roboto, sans-serif;
}

/* Page Styles */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: #1f2937;
  padding: 4rem;
  padding-top: 2rem;
}

.nav {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.nav-links-container {
  display: flex;
  align-items: end;
  margin-left: auto;
}

.nav-links {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  gap: 2rem;
}

.nav-link > a {
  color: #e5e7eb;
}

.nav-links-container > button {
  margin-left: 2rem;
}

.logo-img {
  width: 200px;
  height: auto;
}

.hero {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 3rem;
  background-color: #1f2937;
}

.hero-content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.hero-title {
  font-size: 3rem;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-content > p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-img {
  width: 900px;
  height: 400px;
}

.primary-btn {
  padding: 6px 21px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #3882f6;
  border-radius: 1rem;
  border: 0;
  color: #e5e7eb;
}

.primary-btn:hover {
  box-shadow: 1px 1px #e5e7eb;
  border-radius: 4px;
  transition: all 300ms ease-in;
}

.feature {
  padding: 4rem;
}

.feature-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin-bottom: 2rem;
}

.feature-contents {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}

.feature-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 400px;
}

.feature-img {
  width: 100%;
  height: 250px;
  border: 1px solid blue;
  border-radius: 8px;
}

.feature-img:hover {
  border: 1px solid lime;

  transition: all 400ms ease-in;
}

.testimonials {
  padding: 2rem 6rem;
  background-color: #e5e7eb;
}

.testimonials > q {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

.testimonials > cite {
  font-size: 1rem;
  font-weight: bold;
}

.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 10rem;
  color: #e5e7eb;
}

.cta-main {
  display: flex;
  align-items: center;
  gap: 5rem;
  background-color: #3882f6;
  padding: 2rem 6rem;
  border-radius: 5px;
}

.secondary-btn {
  padding: 6px 21px;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #e5e7eb;
  border-radius: 4px;
  color: #e5e7eb;
}

.secondary-btn:hover {
  background-color: #e5e7eb;
  color: #3882f6;
  border: 2px solid transparent;
  transition: all 300ms ease;
}

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
